#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;

  @media (max-width: 992px) {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
}

main {
  overflow: auto;
  padding: 4rem;

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
    
    @media (max-width: 992px) {
      margin-left: 0;
    }
  }

  & .back {
    gap: .5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  & h1 {
    margin-bottom: .5rem;
    font: 600 1.5rem/1.25 var(--font-family);
  }

  @media (max-width: 488px) {
    padding: 1rem;
  }
}

aside {
  padding: 4rem;
  background-color: var(--surface-secondary);

  & .aside-container {
    max-width: 31rem;

    & > img {
      margin-top: 2rem;
    }
    
    @media (max-width: 992px) {
      .subtitle {
        display: none;
      }
      
      > img {
        width: 19.5rem;
        margin-top: 0.75rem;
      }
    }
  }

  & h2 {
    margin-bottom: .5rem;
    font: 600 2.5rem/1.25 var(--font-family);
  }

  & span {
    color: var(--text-highlight);
  }
 
  @media (max-width: 992px) {
    display: flex;
    padding: 1rem;
    justify-content: center;

    .aside-container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    & h2 {
      margin-bottom: 0;
      font: 600 1rem/1.25 var(--font-family);
    }

    p {
      margin-top: 0.2rem;
      font: 400 0.8rem/1.25 var(--font-family);
    }
  }
}